PORT=8080
FRONTEND_ORIGIN=https://attendance.ducit.io.vn
DATABASE_HOST=host
DATABASE_PORT=5432
DATABASE_NAME=personal_attendance
DATABASE_USERNAME=admin
DATABASE_PASSWORD=password
DATABASE_DRIVER=org.postgresql.Driver
